
// Sonu kumar <sonu.kumar@quikr.com>

$color-white: #ffffff;
$color-black: #000000;
$color-black-secondary: #333333;
$color-gray: #dddddd;
$color-gray-light-primary: #e6e6e6; //secondary page background
$color-gray-light-secondary: #f2f2f2; //main page background
$color-gray-light-tertiary: #fbfbfb;
$color-black-tertiary: #7c7c7c;
$color-gray-dark-primary : #444444;

$color-quikr-green:#00BE40;
$color-quikr-blue: #008BCF;
$color-p: #7c7c7c;
$color-inout: #666666;

$bg-btn-primary: #00BE40;   // green
$bg-btn-secondary: #008BCF; // blue
$bg-btn-tertiary: #ffffff; // white

$bg-btn-disabled: #999999; // gray
$bg-btn-primary-transparent: rgba(0,0,0,0.01); // transparent green
$bg-btn-secondary-transparent: rgba(0,0,0,0); // transparent blue

$border-default: 1px solid $color-gray-light-primary;
$border-default-dashed: 1px dashed $color-gray-light-primary;
$border-light: 1px solid $color-gray-light-secondary;
$border-light-d: 1px solid $color-gray;
$border-blue-d: 1px solid $color-quikr-blue;


$font-10: 10px;
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-30: 30px;

$animation: 0.3s;

